:root {
    /* Colors */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #4F5A86;
    
    /* Font sizes */
    --font-16: 1rem;
    --font-24: 1.5rem;
    --font-32: 2rem;
    --font-40: 2.5rem;
    --font-50: 3.125rem;
    --font-80: 5rem;
    --font-100: 6.25rem;
}